user www-data;
worker_processes {{&workerProcesses}}{{^workerProcesses}}4{{/workerProcesses}};
pid /run/nginx.pid;

events {
	worker_connections {{&workerConnections}}{{^workerConnections}}768{{/workerConnections}};
	# multi_accept on;
}

http {

	##
	# Basic Settings
	##

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	server_tokens off;

	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	# Logging Settings
	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	# Gzip Settings
	gzip off;
	gzip_disable "msie6";

	# gzip_vary on;
	# gzip_proxied any;
	# gzip_comp_level 6;
	# gzip_buffers 16 8k;
	# gzip_http_version 1.1;
	gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

	# nginx-naxsi core rules
	
	include /etc/nginx/naxsi_core.rules;

	client_max_body_size {{&clientMaxBodySize}}{{^clientMaxBodySize}}128m{{/clientMaxBodySize}};
	
	# Upstreams configuration
	
	{{#vhosts}}
	upstream {{name}} {
		{{#origins}}
		server {{.}};
		{{/origins}}
	}
	{{/vhosts}}
	
	# vhosts
	
	{{#vhosts}}

	server {
	 
	  server_name {{#dnsNames}} {{&.}}{{/dnsNames}};
	 
	  access_log /var/log/nginx/{{name}}.access;
	  error_log /var/log/nginx/{{name}}.error error;
	  
	  resolver {{&resolver}}{{^resolver}}8.8.4.4{{/resolver}};

	  gzip {{&gzip}}{{^gzip}}on{{/gzip}};

	  error_page 403 /403.html;
	  error_page 504 /504.html;

	  location / {	
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_pass http://{{name}};
			proxy_http_version 1.1;
			
			## Naxsi rules
			#LearningMode;
			SecRulesEnabled;
			#SecRulesDisabled;
			DeniedUrl "/RequestDenied";

			## check rules
			CheckRule "$SQL >= 10" BLOCK;
			CheckRule "$RFI >= 8" BLOCK;
			CheckRule "$TRAVERSAL >= 4" BLOCK;
			CheckRule "$EVADE >= 4" BLOCK;
			CheckRule "$XSS >= 8" BLOCK;

			## Cookie relaxation rules
			BasicRule wl:1314 "mz:$HEADERS_VAR:Cookie";
			BasicRule wl:1315 "mz:$HEADERS_VAR:Cookie";
			BasicRule wl:1013 "mz:$HEADERS_VAR:Cookie";
			BasicRule wl:1000 "mz:$HEADERS_VAR:Cookie";
			BasicRule wl:1005 "mz:$HEADERS_VAR:Cookie";
			BasicRule wl:1015 "mz:$HEADERS_VAR:Cookie";
			BasicRule wl:1306 "mz:$HEADERS_VAR:Cookie";

			# allow http:// in a cookie
			BasicRule wl:1100 "mz:$HEADERS_VAR:Cookie";

			# allow https:// in a cookie
			BasicRule wl:1101 "mz:$HEADERS_VAR:Cookie";

			# additional naxsi rules
			{{#waf}}
			{{#additionalRules}}
			{{&.}};
			{{/additionalRules}}
			{{/waf}}
	  }

	  {{#waf}}
  	{{#excludePaths}}
  	location {{&.}} {
  		proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_pass http://{{name}};
			proxy_http_version 1.1;
  	}
  	{{/excludePaths}}
	  {{/waf}}
	  
	  location /RequestDenied {
			return 403;
	  }

	  location =/403.html {
	  	{{#waf}}
	  	proxy_method GET;
			proxy_pass {{&triggerURL}};
			proxy_pass_request_headers off;
			proxy_pass_request_body off;
			{{/waf}}
	  }

	  location =/504.html {
	  	proxy_method GET;
			proxy_pass {{&gatewayTimeoutURL}};
			proxy_pass_request_headers off;
			proxy_pass_request_body off;
	  }
	 
	  location ~ /\.ht {
			deny all;
	  }
	 
	}

	{{/vhosts}}
	
	# catch all 403 when no server name matches
	server {
		server_name _;
		return 403;
	}
}